body {
        background: #2E86C1;
            color: white;
                text-align: center;
                    font-family: Arial;
                        padding-top: 100px;
                        }
                        button {
                            padding: 15px 30px;
                                background: #F4D03F;
                                    border: none;
                                        border-radius: 10px;
                                            font-size: 18px;
                                            }
}